@import "abstracts";
@import "components";

/* Genel ayarlar */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: $secondary-font;
    color: $gray-color;
    background-color: $light-color;
}

.container {
    max-width: 114rem;
    margin: 0 auto; // boşlukları ayarlar
    width: 100%; // sayfayı 1140 px gore ortalıcak yanı kösede bosluk olur
}

a {
    text-decoration: none; // linklerin altı cızılı olmaz
    text-transform: uppercase; //linklerin hepsi buyuk harf
    font-family: $primary-font;
    color: $light-color;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* Top header*/

.top-header {
    border-bottom: 1px solid $primary-color; // cizgıyı olusturduk header kısmını ayıran

    .container {
        @include flex-display(flex, center, space-between);

        .logo {
            h1 {
                font-size: 5rem;
                font-family: $primary-font;
                color: $primary-color;
            }
        }
        .top-social-menu {
            display: flex; //ögeler yanyana geldi sosyal medya elemanlar

            li {
                margin: 0 1rem;
                padding: 1rem;

                a {
                    font-size: 2rem;
                    transition: all 0.5s; //uzerıne gelınce 5 sanıye sonra hover calısıyor
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                }

                &:hover a {
                    color: $primary-color;
                }
            }
        }

        .login-area {
            span {
                display: none;
            }
        }
    }
}

/* Nav header*/

.nav-header {
    .navbar {
        @include flex-display(flex, center, space-between);

        .navbar-list {
            display: flex;

            li {
                line-height: 8rem;
                position: relative;
               transition: 0.5s;
               -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                 -ms-transition: 0.5s;
                 -o-transition: 0.5s;

                .dropdown {
                    position: absolute;
                    //kendınıkapsayanelemanınposıstıonrelativolmalıbackground-color: royalblue;
                    width: 150%;
                    background-color: lighten($secondary-color, 10%);
                    //bayaguzelbırkullanımsecondart-coloragoreyuzde10dahaacıkbırrenkverır
                   // left: 50%;
                    z-index: 10;
                    top: 12rem;
                    opacity: 0;
                   // transition: .5rem;
                    


                    li:hover 
{
                        line-height: 4rem;
                    }
                }

                &:hover {
                    background-color: $primary-color;

                    & .dropdown {
                        opacity: 1;
                        top: 8rem;
                    }
                }
            }

            a {
                padding: 0 2rem;
                font-size: 1.6rem;
                letter-spacing: 2px; //harfler arası boşluk
            }

            i {
                color: $light-color;
                font-size: 1.6rem;
                margin-right: 1rem;
            }
        }

        .search-area {
            input[type="search"],
            button[type="submit"] {
                border: none;
                background-color: transparent;
                color: $light-color;
            }
            input[type="search"] {
                border-bottom: 1px solid $primary-color;
                padding: 0.5rem;
            }
            button[type="submit"] {
                margin-left: -5rem;
            }
        }
    }
}
